* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#movies img,
#movie img {
  width: 100%; }

@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px; }
  #movies .col-md-3 img {
    height: 240px; }
  .btn {
    margin-bottom: 1.625rem; } }
